@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>




        <link rel="apple-touch-icon" sizes="57x57" href="assets/MTTT_public_folder/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/MTTT_public_folder/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/MTTT_public_folder/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/MTTT_public_folder/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/MTTT_public_folder/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/MTTT_public_folder/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/MTTT_public_folder/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/MTTT_public_folder/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/MTTT_public_folder/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/MTTT_public_folder/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/MTTT_public_folder/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/MTTT_public_folder/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/MTTT_public_folder/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/MTTT_public_folder/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/MTTT_public_folder/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="assets/MTTT_public_folder/stylesheets/jquery-ui.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Own css -->
        <link rel="stylesheet" href="assets/MTTT_public_folder/stylesheets/style.css" />
        <script src="assets/MTTT_public_folder/javascripts/jquery.js"></script>
        <script src="assets/MTTT_public_folder/javascripts/jquery-ui.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="assets/MTTT_public_folder/javascripts/statistics.js"></script>
        <script src="assets/MTTT_public_folder/javascripts/difflib-browser.js"></script>
        <script src="assets/MTTT_public_folder/javascripts/application.js"></script>
        <script src="assets/MTTT_public_folder/javascripts/handleFileSelect.js"></script>
        <script src="assets/MTTT_public_folder/javascripts/resizable.js"></script>



    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </body>
</html>
